html, body {
  background: rgb(67, 83, 92) !important;
}

a {
  color: rgb(108, 160, 176);
}

#main_header {
  margin-left: 3em;
}

.container {
  width: 90% !important;
  margin-top: 2em;
  margin-left: 2em !important;
  padding: 2em !important;
  color: white;
}

.col-md-4 {
  border: 1px black solid;
}

.individual_video {
  margin: 1em;
  padding: 1em;
  display: none;
  float: left;
  background: rgb(14, 63, 86);
  box-shadow: 3px 3px 5px #888888;
  text-align: center;
}

.moreinfo-sidebar {
  margin-top: 1em;
  background: rgb(45, 92, 112);
  padding: 3em;
}

img {
  width: 350px;
  max-width: 100%;
  height: auto;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
}

.image_right {
  float: right;
}

.image_right img {
  width: 100px;
}

.description {
  display: none;
}
